@if (!isLoading) {
<section class="flex flex-col items-center justify-center h-screen gap-4">
  <h1 class="text-center font-semibold text-3xl">
    Bienvenido - {{ user?.userName | titlecase }}
  </h1>
  <div
      class="rounded-lg max-w-[50rem] max-h-[40rem] p-4 border-gray-200 border-2 shadow-sm"
    >
      <div class="flex flex-row items-start justify-start gap-1">
        <strong class="text-base">Id:</strong>
        <p class="text-base">{{ user?.id }}</p>
      </div>
      <div class="flex flex-row items-start justify-start gap-1">
        <strong class="text-base">userName:</strong>
        <p class="text-base">{{ user?.userName }}</p>
      </div>
      <div class="flex flex-row items-start justify-start gap-1">
        <strong class="text-base">email:</strong>
        <p class="text-base">{{ user?.email }}</p>
      </div>
      <div class="flex flex-row items-start justify-start gap-1">
        <strong class="text-base">fullName:</strong>
        <p class="text-base">{{ user?.fullName }}</p>
      </div>
      <div class="flex flex-row items-start justify-start gap-1">
        <strong class="text-base">fullName:</strong>
        <p class="text-base">{{ user?.fullName }}</p>
      </div>
      <div class="flex flex-row items-start justify-start gap-1">
        <strong class="text-base">isActive:</strong>
        <p class="text-base">{{ user?.isActive }}</p>
      </div>
      <div class="flex flex-row items-start justify-start gap-1">
        <strong class="text-base">roles:</strong>
        <p class="text-base">[</p>
        @for (role of user?.roles; track $index) {
        <p class="text-base">{{ role }}</p>
        @if ($index < user!.roles.length - 1) {
        <p class="text-base">,</p>
        } }
        <p class="text-base">]</p>
      </div>
    </div>
  <button
    (click)="loggout()"
    class="bg-sky-700 text-white p-2 rounded-lg shadow-sm w-[100px]"
  >
    Salir
  </button>
</section>
}@else {
<section class="flex flex-col items-center justify-center h-screen gap-4">
  <svg viewBox="25 25 50 50">
    <circle r="20" cy="50" cx="50"></circle>
  </svg>
</section>
}
